body {
    background-color: rgb(145, 149, 161);
    font-family: "pixelfont";
    color:rgb(204, 208, 235);
}


header {
    font-family: "pixelfont";
    color: white;
    text-align: center;
}
h1 {
    font-size: 64px;
}
img {
    image-rendering: pixelated;
    user-select: none; 
}

.market:hover{
    -webkit-filter: drop-shadow(1px 1px 0 rgb(255, 255, 255)) drop-shadow(-1px -1px 0 rgb(255, 255, 255));
    filter:drop-shadow(1px 1px 0 rgb(255, 255, 255)) drop-shadow(-1px -1px 0 rgb(255, 255, 255));
}
#open_tutorial {
    font-family: "pixelfont";
    font-size: 42px;
    color:rgb(204, 208, 235);
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ccc;
    border-radius: 5px;
}
.tutorial {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    max-height: 80%;
}
.tutorial_content {
    padding:  20px;
    position: relative;
    font-size: 28px;
    text-align: center;
    background-color: rgb(30, 41, 51);
}
#close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 5px;
    font-size: 48px;
    font-family: "pixelfont";
    cursor: pointer;
    color:rgb(204, 208, 235);
}
#close_button:hover {
    color: rgb(150, 26, 26);
}
  

@font-face {
    font-family: "pixelfont";
    src: url(assets/joystix\ monospace.otf);
}


.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  