body {
    background-color: black;
}
h1 {
    font-family: "pixelfont";
    color: white;
}

.card {
    position: absolute;

}

.upgrade {

}


@font-face {
    font-family: "pixelfont";
    src: url(assets/joystix\ monospace.otf);
}